.from__elementBlock {
  width: 90%;
  box-sizing: border-box;
  margin: 15px auto;
}

.form__element {
  width: 90%;
  height: 50px;
  padding: 8px;
  margin: 0 auto;
  box-sizing: border-box;
  outline: none;
  border: 2px solid transparent;
  border-radius: 5px;
  box-shadow: 5px 5px 8px black;
  transition: all .2s ease;
}

.form__element:hover,
.form__element:focus {
  border: 2px solid rgb(178, 139, 0);
  background: rgb(253, 232, 157);
}

.from__elementBlock textarea {
  width: 90%;
  height: 90px;
}

.invalid {
  border: 2px solid rgb(255, 0, 0);
  background: rgb(255, 165, 155);
  box-shadow: 4px 3px 30px 5px rgba(245,52,52,1);

}

.left {
  animation: fromLeft .4s linear;
  /* delay iteration-count direction fill-mode; */
}

@keyframes fromLeft {
  0% {
    opacity: 0;
    transform: translateX(-200%)
  }

  100% {
    opacity: 1;
    transform: translateX(0)
  }
}

.right {
  animation: fromRight .4s linear;
}

@keyframes fromRight {
  0% {
    opacity: 0;
    transform: translateX(+200%)
  }
 
  100% {
    opacity: 1;
    transform: translateX(0)
  }
}

.bottom {
  animation: fromBottom .4s linear;
}

@keyframes fromBottom {
  0% {
    opacity: 0;
    transform: translateY(+400%)
  }
 
  100% {
    opacity: 1;
    transform: translateY(0)
  }
}

@media (min-width: 500px) {
  .form__element {
    width: 100%;
  }
  .from__elementBlock textarea {
    width: 100%;
    height: 110px;
  }
}