body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: sans-serif;
  color: white;
  background: rgb(2, 1, 25);
  background: linear-gradient(118deg, rgba(2, 1, 25, 1) 0%, rgba(5, 5, 61, 1) 36%, rgba(1, 0, 23, 1) 100%);
  background-size: cover;
  background-attachment: fixed;
  box-shadow: border-box;
}
